{% extends 'news/base.html'%}
{% load static %}
{% block content %}

 <h3>{{ news.title}}</h3>
    <p>Sana: {{ news.publish_time}}</p>
    <img src="{{ news.image.url}}" alt="rasm topilmadi">
    <p>{{ news.body}}</p>

 <div class="container">
     {% if request.user.is_authenticated and request.user.is_superuser %}
     <button class="btn btn-info"><a href="{% url 'news_create' news.slug %}">Yangilik qo'shish</a></button>
     <button class="btn btn-success"><a href="{% url 'news_update' news.slug %}">Tahrirlash</a></button>
     <button class="btn btn-danger"><a href="{% url 'news_delete' news.slug %}">O'chirish</a></button>
     {% endif %}
 </div>

{% endblock content %}